---
---

@import "main";

$teal: #6CC5A3;
$orange: #FFB28F;
$green: #B4F388;
$magenta: #F589A6;
$light-grey: #f1f1f1;

// The embed will be max 700px wide
.container {
    max-width: 700px;
}

.container {

  .jumbotron {
    margin-top: 15px;
    background-color: $teal;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 4px;
    text-align: center;
    color: #fff;

    h1 {
      font-size: 3.5em;
    }

    a {
      color: $teal;
      font-weight: 500;
      font-size: 0.7em;
      background: #fff;
      border-radius: 15px;
      padding: 8px 10px;
      border: none;

    }
  }

  .panel {
    padding: 15px;
  }
}


#intro {
  display: none;
}


#household {
  background-color: $light-grey;
  padding: 30px 20px;

  .hh-input {
    padding: 12px 0;
  }

  .slider.slider-horizontal {
    width: 100%;
  }

  #meal-options {
    .hh-assumptions-extra-info {
      margin: 10px 0;
      cursor: pointer;
      color: #fff;
    }
  }
}


#summary {
  padding: 10px 20px;
  background-color: $green;
  color: #fff;

  &.warning {
    background-color: $orange;
  }

  .row {
    padding: 12px 0;
  }

  #meals {
    .icon {
      float: left;

      .warning {
        display: none;
      }
    }
  }

  #food-cost {
    .amount {
      font-size: 1.4em;
    }
  }

  #residual {
    .amount {
      font-size: 1.4em;
    }
  }

  .results-extra-info {
    cursor: pointer;
    float: right;
  }

  #hh-expenses-slider {
    .slider-selection {
      background: #BABABA;
    }

    .slider-track-high {
      background: #FF8282;
    }
  }

}

.extra-info {
  font-size: 0.9em;
  .info {
    display: none;
  }
}

.pie-segment {
  fill: #fff;
  fill-opacity: 0.6;
}

#footer{
  background-color: $light-grey;
  padding: 10px 20px;
  #credits {
    margin: 10px 0;
    text-align: right;
    color: #c1c1c1;
    font-size: 0.8em;
    a {
      color: #c1c1c1;
    }
  }
}

