---
---

@import "main";

// For testing, as the embed will be 700px wide
.container {
    max-width: 700px;
}

#intro {
  padding-bottom: 20px;
}

#household {
  background-color: #f1f1f1;
  padding: 30px 20px;

  .hh-input {
    padding: 12px 0;
  }

  .slider.slider-horizontal {
    width: 100%;
  }

  #meal-options {
    .hh-assumptions-extra-info {
      margin: 10px 0;
      cursor: pointer;
      color: #F99466;
    }
  }
}

#summary {
  padding: 10px 20px;
  background-color: #f1f1f1;

  .row {
    padding: 12px 0;
  }

  #meals {
    color: #91DC5A;

    &.warning {
      color: #E25C80;
    }

    .icon {
      float: left;

      .warning {
        display: none;
      }
    }
  }

  #residual {
    .amount {
      font-size: 1.4em;
    }
  }

  .results-extra-info {
    cursor: pointer;
    color: #F99466;
  }
}

.extra-info {
  padding: 10px 20px 30px;
  font-size: 0.9em;
  .info {
    display: none;
  }
}

.pie-segment {
  fill: #fff;
  fill-opacity: 0.6;
}

#footer{
  background-color: #f1f1f1;
  padding: 10px 20px;
  #credits {
    margin: 10px 0;
    text-align: right;
    color: #c1c1c1;
    font-size: 0.8em;
    a {
      color: #c1c1c1;
    }
  }
}

